<!DOCTYPE html>
<html>
<head>
  <title>Order Page</title>
</head>
<body>
  <h2>Order</h2>
  <form id="pickingTreatment" action="/order" method="POST">
      <div for="lakGel">סוג הטיפול: לק ג' ל<br> 
        מחיר הטיפול: 120 ש"ח
        <br>
        משך הטיפול: שעה וחצי
      </div>
      <input id="lakGel" type="radio" value="lakGel" name="group1" required><br>
      <div for="Bnia"> סוג הטיפול: לק ג'ל ובנייה
        <br>
        מחיר הטיפול: 150 ש"ח
        <br>
        משך הטיפול: שעתיים
      </div>
      <input id="Bnia" type="radio" value="Bnia" name="group1" required><br>
    <button type="submit" id="continueBtn">Continue to queue</button>
  </form>
  <a href="/myQueues">
    <button>My Queues</button>
  </a>
</body>
</html>