<!DOCTYPE html>
<html>
<head>
    <title>Queue Hour</title>
</head>
<body>
    <h1>Queue Hour</h1>
    <form action="/queueHour" method="POST">
        <% available.forEach(hour => { %>
            <label>
                <input type="radio" name="chosenHour" value="<%= hour %>" required>
                <%= hour %>
            </label><br>
        <% }); %>
        <button type="submit">Continue to Confirm</button>
    </form>
</body>
</html>
