<!DOCTYPE html>
<html>
<head>
  <title>Queue Houre Page</title>
</head>
<body>
  <h2>QueueHoure</h2>
  <a href="../confirm">
    <button type="submit">Continue to confirm</button>
  </a>
</body>
</html>